
/* Общие стили для страницы сброса пароля */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 790px;
  height: 258px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000;
  margin-top: 40px;
  border-radius: 25px ;
}

.container__title {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Inria Sans';
  font-size: 32px;
  font-weight: 400;
  line-height: 38.37px;
}

.input-container {
  width: 684px;
  height: 57px;
  margin-bottom: 20px;
  position: relative;
}

.input-container__input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 45px;
  background-color: #f9f9f9;
  outline: none;
}

.input-container__input:focus {
  width: 331px;
  height: 57px;
  opacity: 0px;
  background-color: #fff;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
  transition: background-color 0.3s ease;
  border: none;
  margin: 0 auto;
}

.btn--reset {
  background-color: #CF1919;;
  color: white;
  width: 331px;
  height: 57px;
  border-radius: 33px;
  font-family: 'Inria Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
}

.btn--remembered {
  background-color: #ffff;
  border: 1px solid #000;
  width: 331px;
  height: 57px;
  font-family: 'Inria Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  border-radius: 33px;

}


.btn--verify {
  width: 685px;
  background-color: #CF1919;
  color: white;
  border-radius: 33px;
  padding: 12px;
  font-family: 'Inria Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
}

.btn--verify:hover {
  background-color: #CF1919;
}