.form-container {
  max-width: 790px;
  height: 500px;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Стили для вкладок */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
  font-family: Inria Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.37px;
}
.tabs__tab {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.tabs__tab--active {
  color: #e63c3c;
  border-bottom: 2px solid #e63c3c;
}

/* Основные стили формы */
.form__heading {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 20px;
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form__input {
  width: 684px;
  height: 27px;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 57px;
  font-size: 1em;
  color: #666;
  background-color: #f9f9f9;
  outline: none;
}
.form__input::placeholder {
  color: #bbb;
}

/* Стили для забытого пароля */
.form__forgot-password {
  font-size: 0.8em;
  color: #e63c3c;
  text-align: right;
  display: block;
  margin-top: 16px;
  text-decoration: none;
  font-family: Inria Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.18px;
}

/* Кнопка входа */
.form__submit-button {
  display: inline-block;
  margin-top: 70px;
  width: 100%;
  padding: 12px 0;
  background-color: #e63c3c;
  color: #fff;
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
.form__submit-button:hover {
  background-color: #c23636;
}

/* Скрытие формы */
.form {
  display: none;
}
.form--active {
  display: block;
}

