body {
  margin: 0 auto;
  /* Центрирование */
  padding: 0 160px;
  /* Фиксированные отступы по бокам */
  max-width: 1600px;
}

div {
  margin: 0;
}

Link , a {
  text-decoration: none;
}


.App {
  padding: 20px;
}
