body {
  margin: 0 auto;
  /* Центрирование */
  padding: 0 160px;
  /* Фиксированные отступы по бокам */
  max-width: 1600px;
}

div {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.navbar button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}


.nav-link {
  text-decoration: none;
  color: black;
}

/* Стили для логотипа */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #CF1919;
  margin-right: 20px;
  font-family: 'DEATHBLOOD';
  font-size: 20px;
  font-weight: 900;
  line-height: 23.04px;
}

/* Стили для кнопки каталога */
.catalog-button {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 42px;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  height: 40px;
}

.catalog-button span {
  font-family: 'Inria Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 19.18px;
}

.category-section h2 {
  font-family: 'Inria Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: 28.78px;
  text-align: left;

}

.catalog-button i {
  margin-right: 5px;
}

/* Стили для поля поиска */
.search-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
}

.search-bar i {
  margin-right: 17px;
  color: #555;
}

/* Стили для иконок */
.nav-icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-icons i {
  display: block;
  margin: 0 10px;
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.nav-icons span {
  display: block;
  font-size: 14px;
  color: #555;
  margin-left: 5px;
  font-family: 'Inria Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.18px;
  text-align: center;

}

.nav-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-frame {
  padding-top: 21px;
  width: 1600px;
  height: 363px;
  margin: 0 auto;
}

.App {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  font-family: 'Inria Sans';
  font-size: 24px;
  font-weight: 400;
  line-height: 28.78px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 22px;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
}

.product-card h3 {
  margin: 0;
  font-family: 'Inria Sans';
  font-size: 24px;
  font-weight: 400;
}


.product-card p {
  max-width: 245px;
  height: 71px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8A8A8A;
  font-size: 16px;
  line-height: 19.18px;
  margin-top: 2px;
  text-align: justify;
  /* -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 130%); */

}


.see-more {
  margin-left: auto;
  max-width: 83px;
  height: 24px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  display: block;
  text-align: right;
  color: #CF1919;
  margin-top: 18px;
  text-decoration: none;
  font-family: 'Inria Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
}

.product-image {
  max-width: 100%;
  border-radius: 5px;
}

.product-price {
  color: #CF1919;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 15px;
  text-align: right;
}


.samuro-studio-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.samuro-studio-content {
  padding-left: 64px;
}

.samuro-studio-content h1 {
  font-size: 2em;
  color: #CF1919;
  /* Цвет заголовка */
  margin: 0;
  font-family: 'DEATHBLOOD';
  font-size: 96px;
  font-weight: 900;
  line-height: 110.59px;
  text-align: center;

}

.samuro-studio-content p {
  font-size: 1.2em;
  margin: 10px 0;
  font-family: 'Inria Sans';
  font-size: 32px;
  font-weight: 700;
  line-height: 38.37px;
  text-align: left;

}

.join-button {
  background-color: #CF1919;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 60px;
  cursor: pointer;
  width: 455px;
  height: 70px;
  font-family: 'Inria Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: 28.78px;
  margin-top: 31px;


}

.samuro-studio-image img {
  max-width: 551px;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000000;
  margin-top: 45px;
  padding-top: 22px;
}

.footer-links a {
  margin-right: 56px;
  color: #333;
  text-decoration: none;
  font-family: 'Inria Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 19.18px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin: 0 5px;
  font-size: 1.2em;
  color: #333;
  max-width: 51px;
  max-height: 51px;
  margin-right: 56px;
}

.footer-logo {
  font-size: 1.1em;
  color: #CF1919;
  /* Цвет логотипа */
  font-family: 'DEATHBLOOD';
  font-size: 20px;
  font-weight: 900;
  line-height: 23.04px;
  text-align: center;
  margin-bottom: 7px;
}

/*Chat*/
.chat-app {
  display: flex;
  max-width: 1270px;
  height: 720px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px 0 20px;
}

.chat-app__sidebar {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #000;
}

.chat-app__sidebar-title {
  font-family: "Inria Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin: 0 0 15px;
}

.chat-app__contact {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
}

.chat-app__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #CF1919;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1em;
  margin-right: 10px;
}

.chat-app__contact-info {
  margin-left: 10px;
}

.chat-app__contact-name {
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: 400;
}

.chat-app__area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-app__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.chat-app__chat-name {
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: 400;
}

.chat-app__messages {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 500px;
  padding-right: 10px;
}

.chat-app__message {
  display: flex;
  margin-bottom: 10px;
  max-width: 980px;
  font-family: "Inria Sans";
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.chat-app__message--user {
  justify-content: flex-end;
}

.chat-app__message--agent {
  justify-content: flex-start;
}

.chat-app__bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 1.4em;
  background-color: #FFE8E8;
  color: #000;
}

.chat-app__image {
  max-width: 100%;
  border-radius: 8px;
}

.chat-app__input {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 10px 0;
  border-radius: 50px;
}

.chat-app__input-field {
  flex-grow: 1;
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
  border: none;
}

.chat-app__input-button {
  border: none;
  background: transparent;
  cursor: pointer;
}



.shopping-table {
  display: flex;
  width: 100%;
  max-width: 1310px;
  padding: 20px;
  margin: 30px auto 0;
}

.shopping-table__profile {
  width: 200px;
  text-align: center;
  padding-right: 20px;
  border-right: 1px solid #e0e0e0;
}

.shopping-table__profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  display: block;
  margin: 0 auto;
}

.shopping-table__nickname {
  font-size: 1.2em;
  margin-top: 10px;
  font-family: Inria Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.37px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.shopping-table__reg-date {
  color: #777;
  margin-top: 5px;
}

.shopping-table__content {
  flex-grow: 1;
  padding-left: 20px;
}

.shopping-table__title {
  margin-bottom: 15px;
  font-family: Inria Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.37px;
}

.shopping-table__table {
  width: 100%;
  border-collapse: collapse;
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}

.shopping-table__seller-image {
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.shopping-table__seller-name {
  vertical-align: middle;
}

.shopping-table__status {
  font-weight: bold;
}

.shopping-table__status--closed {
  color: green;
}

.shopping-status {
  padding-right: 50px;
}