body {
  margin: 0 auto;
  /* Центрирование */
  padding: 0 160px;
  /* Фиксированные отступы по бокам */
  max-width: 1600px;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Стили для логотипа */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #CF1919;
  margin-right: 20px;
  font-family: 'DEATHBLOOD';
  font-size: 20px;
  font-weight: 900;
  line-height: 23.04px;
}

/* Стили для кнопки каталога */
.catalog-button {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.catalog-button span {
  font-family: 'Inria Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 19.18px;
}

.category-section h2 {
  font-family: 'Inria Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: 28.78px;
  text-align: left;

}

.catalog-button i {
  margin-right: 5px;
}

/* Стили для поля поиска */
.search-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
}

.search-bar i {
  margin-right: 17px;
  color: #555;
}

/* Стили для иконок */
.nav-icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-icons i {
  display: block;
  margin: 0 10px;
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.nav-icons span {
  display: block;
  font-size: 14px;
  color: #555;
  margin-left: 5px;
  font-family: 'Inria Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.18px;
  text-align: center;

}

.nav-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-frame {
  padding-top: 21px;
  width: 1600px;
  height: 363px;
  margin: 0 auto;
}

.App {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  font-family: 'Inria Sans';
  font-size: 24px;
  font-weight: 400;
  line-height: 28.78px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 22px;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
}

.product-card h3{
  margin: 0;
  font-family: 'Inria Sans';
  font-size: 24px;
  font-weight: 400;
}


.product-card p{
  max-width: 245px;
  height: 71px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#8A8A8A;
  font-size: 16px;
  line-height: 19.18px;
  margin-top: 2px;
  text-align: justify;
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 130%);

}


.see-more {
  grid-column: 5;
  /* Выравнивание под пятой карточкой */
  color: #CF1919;
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  width: 83px;
  height: 24px;
}

.product-image {
  max-width: 100%;
  border-radius: 5px;
}

.product-price {
  color: #CF1919;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 15px;
  text-align: right;
}

.see-more {
  display: block;
  text-align: right;
  color: #CF1919;
  margin-top: 18px;
  text-decoration: none;
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
}

.samuro-studio-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.samuro-studio-content {
  max-width: 50%;
  padding-left: 117px;
}

.samuro-studio-content h1 {
  font-size: 2em;
  color: #CF1919;
  /* Цвет заголовка */
  margin: 0;
  font-family: 'DEATHBLOOD';
  font-size: 96px;
  font-weight: 900;
  line-height: 110.59px;
  text-align: center;

}

.samuro-studio-content p {
  font-size: 1.2em;
  margin: 10px 0;
  font-family: 'Inria Sans';
  font-size: 32px;
  font-weight: 700;
  line-height: 38.37px;
  text-align: left;

}

.join-button {
  background-color: #CF1919;
  /* Цвет кнопки */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 60px;
  cursor: pointer;
  width: 455px;
  height: 70px;
  font-family: 'Inria Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: 28.78px;
  margin-top: 31px;


}

.samuro-studio-image img {
  max-width: 551px;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000000;
  margin-top: 45px;
  padding-top: 22px;
}

.footer-links a {
  margin-right: 56px;
  color: #333;
  text-decoration: none;
  font-family: 'Inria Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 19.18px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin: 0 5px;
  font-size: 1.2em;
  color: #333;
  max-width: 51px;
  max-height: 51px;
  margin-right: 56px;
}

.footer-logo {
  font-size: 1.1em;
  color: #CF1919;
  /* Цвет логотипа */
  font-family: 'DEATHBLOOD';
  font-size: 20px;
  font-weight: 900;
  line-height: 23.04px;
  text-align: center;
  margin-bottom: 7px;
}