body {
  margin: 0 auto;
  padding: 0 160px;
  max-width: 1600px;
  background-image: url("backgroundTree.svg");
  background-repeat: no-repeat;
  background-position: top;
}

div {
  margin: 0;
}

Link , a {
  text-decoration: none;
}


.App {
  padding: 20px;
}
